<nz-card class="full-width margin-b-large">
    <nz-row nzAlign="middle" [nzGutter]="8" style="flex-wrap: nowrap">
        <nz-col>
            <nz-avatar
                [ngStyle]="{backgroundImage: 'url('+imgPath+'/' + user.photo+')', backgroundColor: '#ddd' }" [nzSize]="50" [nzText]="!user.photo ? user?.name : ''"
                style="vertical-align: middle;color: #888;background-size: cover;background-position: center;"
                class="margin-r-small"
            ></nz-avatar>
        </nz-col>
        <nz-col [nzFlex]="1">
            <h4>
                <a [routerLink]="['/', user.username]">
                    {{user.name}} @{{user.username}}
                </a>
            </h4>
            <div>
                {{user.bio?.limit( 150 )}}
            </div>
        </nz-col>
        <nz-col style="white-space: nowrap">
            <ng-container *ngIf="user.id !== authUser?.id; else thisIsYou">
                <button nz-button nzType="primary" *ngIf="following">Following</button>
                <button nz-button nzType="link" *ngIf="!following">Follow</button>
            </ng-container>
        </nz-col>
    </nz-row>


</nz-card>

<ng-template #thisIsYou>
    This is you
</ng-template>
