<nz-card class="full-width margin-b-large">
    <nz-row [nzGutter]="8" nzAlign="middle">
        <nz-col>
            <nz-avatar
                [ngStyle]="{backgroundImage: 'url('+imgPath+'/' + user.photo+')', backgroundColor: '#ddd' }" [nzSize]="50" [nzText]="!user.photo ? user?.name : ''"
                class="avatar margin-r-small"
            ></nz-avatar>
        </nz-col>
        <nz-col [nzFlex]="1">
            <h4>
                <a [routerLink]="['/', user.username]">
                    {{user.name}} @{{user.username}}
                </a>
            </h4>
            <div>
                {{user.bio?.limit( 150 )}}
            </div>
        </nz-col>
        <nz-col>
            <ng-container *ngIf="user.id !== authUser.id; else thisIsYou">
                <button *ngIf="user.followers.findWhere('id', authUser.id)" nz-button nzType="danger">
                    Unfollow
                </button>
                <button *ngIf="!user.followers.findWhere('id', authUser.id)" nz-button nzType="primary">
                    Follow
                </button>
            </ng-container>
        </nz-col>
    </nz-row>
</nz-card>

<ng-template #thisIsYou>
    This is you
</ng-template>
