nz-sider {
    height: 100%;

    [nz-menu] {
        margin-top: 24px;

        [nz-menu-item], nz-badge {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 24px;

            [nz-icon] {
                font-size: 20px;
            }
        }
    }
}

.inner-layout {
    padding: 0 24px;
}

nz-content {
    min-height: 280px;
}

.logo {
    margin-left: 10px;

    img {
        width: 50px;
    }

    span {
        position: relative;
        font-weight: bold;
        font-size: 24px;
        left: -9px;
        top: 8px;
        color: #7444c0;
    }
}
