<div class="content">
    <div style="background-image: url(https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png); width: 100%; height: 200px; background-size: cover;background-position: center;"></div>
    <nz-row class="padding-x-large" nzAlign="bottom" nzJustify="space-between" style="position: absolute; top:150px; width: 100%;">
        <nz-avatar [ngStyle]="{ 'background-color': '#72bbff' }" [nzSize]="100" nzText="User" style="vertical-align: middle; color: #fff;"></nz-avatar>
        <button (click)="showEditModal()" nz-button nzType="primary">Edit profile</button>
    </nz-row>
    <div class="padding-x-large" style="margin-top: 50px;font-size: 30px;"><b>Joe Doe</b></div>
    <p class="padding-x-large" nz-typography>@JoeDoe</p>
    <p class="padding-x-large">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, tempore? <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing.
    </p>
    <nz-row class="padding-x-large" nzGutter="16">
        <nz-col><b>321</b> Following</nz-col>
        <nz-col><b>123</b> Followers</nz-col>
    </nz-row>

    <nz-tabset nzLinkRouter nzSize="large">
        <nz-tab>
            <a [routerLink]="['.']" nz-tab-link>Tweets</a>
            <ng-template nz-tab>
                <app-tweets></app-tweets>
            </ng-template>
        </nz-tab>
        <nz-tab>
            <a [queryParams]="{ tab: 'with-replies' }" [routerLink]="['.']" nz-tab-link queryParamsHandling="merge">Tweets
                                                                                                                    &
                                                                                                                    replies</a>
            <ng-template nz-tab>
                <app-tweets-and-replies></app-tweets-and-replies>
            </ng-template>
        </nz-tab>
        <nz-tab>
            <a [queryParams]="{ tab: 'likes' }" [routerLink]="['.']" nz-tab-link queryParamsHandling="merge">Likes</a>
            <ng-template nz-tab>
                <app-likes></app-likes>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</div>
