.content {
    position: relative;
    font-size: 110%;
}

nz-tabset ::ng-deep {
    nz-tabs-nav.ant-tabs-nav {
        background: #fff;
        margin: 0;
    }

    .ant-tabs-nav-list {
        width: 100%;

        > div {
            width: 100%;
            justify-content: center;
        }
    }
}

.cover {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.profile-photo {
    position: absolute;
    top: 150px;
    width: 100%;
    left: 24px;
}
