<form (ngSubmit)="login()" [formGroup]="form" class="login-form" nz-form>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="form.controls.username.errors?.required">
            <nz-input-group nzPrefixIcon="user">
                <input formControlName="username" nz-input placeholder="Username" type="text"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzErrorTip]="form.controls.password.errors?.required">
            <nz-input-group nzPrefixIcon="lock">
                <input formControlName="password" nz-input placeholder="Password" type="password"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button [nzLoading]="loading" class="login-form-button login-form-margin" nz-button nzType="primary">
        Log in
    </button>
    Or <a routerLink="/register"> register now! </a>
    <a class="login-form-forgot">Forgot password?</a>
</form>
