@import './theme.scss';

html {
    overflow: hidden !important;
}

body {
    //overflow-y: scroll;
    height: 100vh;
}


@each $key, $val in $space {
    .margin-#{$key} {
        margin: $val;
    }
    .margin-y-#{$key} {
        margin-top: $val;
        margin-bottom: $val;
    }
    .margin-x-#{$key} {
        margin-left: $val;
        margin-right: $val;
    }
    .margin-l-#{$key} {
        margin-left: $val;
    }
    .margin-t-#{$key} {
        margin-top: $val;
    }
    .margin-r-#{$key} {
        margin-right: $val;
    }
    .margin-b-#{$key} {
        margin-bottom: $val;
    }
    .padding-#{$key} {
        padding: $val;
    }
    .padding-y-#{$key} {
        padding-top: $val;
        padding-bottom: $val;
    }
    .padding-x-#{$key} {
        padding-left: $val;
        padding-right: $val;
    }
    .padding-l-#{$key} {
        padding-left: $val;
    }
    .padding-t-#{$key} {
        padding-top: $val;
    }
    .padding-r-#{$key} {
        padding-right: $val;
    }
    .padding-b-#{$key} {
        padding-bottom: $val;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
a:focus,
[nz-menu] li:focus,
button:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.page-header {
    padding: 12px;
    //display: flex;
    //align-items: center;
    background-color: #fff;

    h2.page-title {
        margin-bottom: 0;
    }
}

app-spin {
    margin: 16px 0;
}


.content {
    background-color: #fff;
}

.tweet-carousel {
    height: 300px;
    max-width: 620px;
    width: 100%;
    user-select: none;

    *[nz-carousel-content] {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.clickable {
    cursor: pointer;

    &[ng-reflect-router-link]:focus {
        outline: none;
    }
}


.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.avatar {
    vertical-align: middle;
    color: #888;
    background-size: cover;
    background-position: center;
}

.highlight-tweet {
    border-radius: 5px;
    border: 1px solid #f1f1f1
}
