<nz-row [nzGutter]="[8, 8]" style="flex-wrap: nowrap;">
    <nz-col>
        <i [nzType]="notification.icon" class="icon" nz-icon></i>
    </nz-col>
    <nz-col [nzFlex]="1">
        <nz-avatar
            *ngFor="let user of notification.users"
            [ngStyle]="{backgroundImage: 'url('+imgPath+'/' + user.photo+')', backgroundColor: color }" [nzSize]="50" [nzText]="!user.photo ? user?.name : ''"
            style="vertical-align: middle;color: #888;background-size: cover;background-position: center;"
            class="margin-r-small"
        >
        </nz-avatar>
        <h3>
            {{notification.title}}
        </h3>
        <p *ngIf="notification.tweet as tweet">
            {{tweet.content}}
        </p>
    </nz-col>
</nz-row>

