<form (ngSubmit)="tweet()" [formGroup]="form" nz-form nzLayout="vertical" nzNoColon>
    <nz-row *ngIf="showParent && replyParent" class="margin-b-medium">
        <app-tweet [footer]="false" [tweet]="replyParent" class="highlight-tweet"></app-tweet>
    </nz-row>

    <nz-form-item class="margin-t-medium">
        <nz-form-control [nzErrorTip]="form.controls.content.errors | firstError">
            <textarea [placeholder]="placeholder" formControlName="content" nz-input type="text"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-row nzJustify="center">
        <nz-col [nzSpan]="18">
            <nz-carousel *ngIf="media.length" class="tweet-carousel full-width" nzEffect="scrollx">
                <div nz-carousel-content *ngFor="let item of media; let index = index" [style]="{backgroundImage: 'url('+ item +')'}">
                    <button nz-button nzType="text" nzShape="round" type="button" (click)="removeMedia(index)">
                        <i nz-icon nzType="close-circle"></i>
                    </button>
                </div>
            </nz-carousel>
        </nz-col>
    </nz-row>

    <nz-row *ngIf="showParent && retweetParent && retweetParent.user" class="margin-b-medium margin-t-large">
        <app-tweet [footer]="false" [tweet]="retweetParent" class="highlight-tweet"></app-tweet>
    </nz-row>
    <nz-row nzJustify="space-between">
        <nz-col>
            <nz-upload [nzBeforeUpload]="beforeUpload()" nzMultiple>
                <button nz-button nzShape="circle" nzSize="large" nz-tooltip="Add media" type="button">
                    <i nz-icon nzType="file-image"></i>
                </button>
            </nz-upload>
        </nz-col>
        <nz-col>
            <button [nzLoading]=loading nz-button nzType="primary">Tweet</button>
        </nz-col>
    </nz-row>
</form>
